* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh; 
}

html, body {
  background-image: linear-gradient(rgb(35, 35, 35), rgba(73, 73, 73, 0.779));
  background-repeat: no-repeat;
}

header h1 {
  padding-top: 100px;
}

.header {
  margin: auto;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  font-weight: 100;
  color: rgba(218, 163, 62, 0.737);
}

header h1:hover {
  cursor: pointer;
}

.search-container {
  width: fit-content;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.search-container select {
  margin-right: 5px;
  width: 85px;
  height: 60px;
  background-color: rgba(240, 248, 255, 0);
  text-align: center;
  color: rgb(192, 192, 192);
  border: 1px solid rgb(150, 150, 150);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.search-container input {
  background-color: rgba(240, 248, 255, 0);
  width: 575px;
  height: 60px;
  color: rgb(192, 192, 192);
  border: 1px solid rgb(150, 150, 150);
  text-indent: 10px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.authentication-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.authentication-options {
  display: flex;
  gap: 40px;
}

.authentication-options .auth {
  color: rgb(192, 192, 192);
  font-size: 45px;
  margin-bottom: 10px;
  text-decoration: none;
}

.authentication-options .active{
  text-decoration: underline;
}

.authentication-options h5:hover {
  cursor: pointer;
}

.authentication-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.authentication-form input {
  width: 300px;
  height: 40px;
  text-indent: 10px;
  color: rgb(192, 192, 192);
  background-color: rgba(240, 248, 255, 0);
  border: 1px solid rgb(150, 150, 150);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.authentication-form button {
  width: 85px;
  height: 40px;
  color: rgb(192, 192, 192);
  background-color: rgba(240, 248, 255, 0);
  border: 1px solid rgb(150, 150, 150);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.authentication-form button:hover {
  background-color: rgba(255, 255, 255, 0.096);
  cursor: pointer;
}

select:focus, input:focus {
  outline: 1px solid rgb(255, 255, 255);
}

.profile-header h1 {
  padding-top: 15px;
}

.profile-header{
  width: fit-content;
  margin: auto;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: 100;
  color: rgba(218, 163, 62, 0.737);
}

.profile-header h1:hover {
  cursor: pointer;
}

.signout {
  width: 85px;
  height: 40px;
  background-color: rgb(255, 114, 114);
  color: white;
  border: 0px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.signout:hover {
  cursor: pointer;
  background-color: rgb(249, 88, 88);
  border: 0px;
  box-shadow: 0.5px 0.5px 10px rgb(255, 255, 255);
}